* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #1e2124f0;
}
.form_box {
    height: 80vh;
    width: 100vh;
    margin: 10vh;
    margin-left: 450px;
    padding: 50px;
    background-color: #1E2124;
    color: rgb(233, 225, 210);
}

fieldset {
    border: none;
    margin-left: 150px;
    margin-top: 40px;
}

h1 {
    margin-left: 25vh;
}

div .contact_info {
    margin-bottom: 10px;
}

legend {
    font-size: x-large;
    margin-bottom: 10px;
}
.contact_info label{
    display: block;
    margin-bottom: 8px;
    font-size: large;
}

.contact_info input, select{
    width: 50vh;
    height: 35px;
    border-radius: 6px;
    border: 2px solid white;
    padding-left: 10px;

}

.no-spin::-webkit-outer-spin-button,
.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}