* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
     min-height: 100vh; /* stay at least full screen */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    background-color: #1E2124;
}

.form_box {
    height: fit-content;
    /* width: 100vh; */
    margin: 3vh;
    padding: 50px;
    background-color: #1E2124;
    color: rgb(233, 225, 210);
}

fieldset {
    border: none;
    margin-left: 150px;
    margin-top: 40px;
}

h1 {
    margin-left: 25vh;
}

div .contact_info {
    margin-bottom: 10px;
}

legend {
    font-size: x-large;
    margin-bottom: 10px;
}

.contact_info label{
    display: block;
    margin-bottom: 8px;
    font-size: large;
}

.contact_info input, select{
    width: 50vh;
    height: 35px;
    border-radius: 6px;
    border: 2px solid white;
    padding-left: 10px;

}

.no-spin::-webkit-outer-spin-button,
.no-spin::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.favorite {
    margin-bottom: 20px;
}

.games{
    display: block;
    font-size: large;
    margin-bottom: 5px;
}

.games input {
    margin-right: 9px;
}

.favorite textarea {
    width: 50vh;
    padding-left: 10px;
    height: 110px;
    padding-top: 10px;
    border-radius: 8px;
    border: 2px solid white;
}

button {
    width: 68px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(95, 255, 95);
    border: 2px solid rgb(95, 255, 95);
    color: #000;
}

@media (min-width: 480px) and (max-width: 580px) {
    body {
        overflow-x: hidden;
    }
    h1{
        font-size: x-large;
    }
    .form_box {
        background-color: #1E2124;
        margin: 0;
    }
    fieldset {
        margin-left: 0;
        margin-top: 40px;
    }
    body {
        background-color: #1E2124;
        margin: 0;
    }
    h1 {
        margin-left: 3vh;
    }
    .favorite teXtarea, .contact_info input, select{
        width: 42vh;
        margin: 0;
    }
}
@media (max-width: 880px) {
    .form_box {
        /* width: 80.4vh; */
        margin-left: 0;
        background-color: #1E2124;
        margin: 0;
    }
    fieldset {
        border: none;
        margin-left: 50px;
        margin-top: 40px;
    }
    body {
        background-color: #1E2124;
    }
    h1 {
        margin-left: 12vh;
    }
}
@media (min-width: 881px) and (max-width: 1200px) {
    body {
        background-color: #1E2124;
        overflow-x: hidden;
    }
}

@media (min-width: 1201px) and (max-width: 1600px) {
    .form_box {
        margin-left: -90px;
    }
}